USE [master]
GO
/****** Object:  Database [ForumDB]    Script Date: 16.03.2021 22:29:45 ******/
CREATE DATABASE [ForumDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ForumDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.GERBUT\MSSQL\DATA\ForumDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ForumDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.GERBUT\MSSQL\DATA\ForumDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ForumDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ForumDB]
GO
/****** Object:  Table [dbo].[ForumMsgs]    Script Date: 16.03.2021 22:29:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumMsgs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Note] [text] NULL,
	[UserId] [int] NULL,
	[Date_Added] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyUsers]    Script Date: 16.03.2021 22:29:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[F_Name] [nvarchar](50) NULL,
	[L_Name] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[Photo] [image] NULL,
	[Date_Register] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO

INSERT INTO [dbo].[MyUsers] ([Id], [F_Name], [L_Name], [Login], [Password], [Role], [Email], [Photo], [Date_Register]) VALUES (1, N'Andriy', N'Gerbut', N'Trussardi111', N'Ag_4313112', N'User', N'udemy.epam@gmail.com', null, N'2021-03-11 17:09:24')
